@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 d-block">Welcome</h1>
    <h3 class="d-block">Paper Divider by Roman Lesheha</h3>
    <img src="images/example.png" class="d-block mx-auto"/>
    <a class="nav-link text-dark d-block display-6" asp-area="" asp-controller="Paper" asp-action="Index">Do you want to try it ?</a>
</div>